<!-- Section 2 -->
<section class="bg-cover mt-10 min-vh-lg-60 pb-12" style="background-image: url('assets/img/img-render-2.jpg')">
  <div class="container-fluid">
    <div class="row mb-8">
      <!-- Left side -->
      <div class="col-md-7 col-xl-6 text-right pr-2 pb-6 bg-white">
        <div class="text-left w-lg-500 float-xl-right mr-xl-6 mt-5 mt-lg-4 ml-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              {{ page.section_2.subhead }}
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h2 class="font-base mt-3">
            {{ page.section_2.headline }}
          </h2>
          <p class="my-4">
            {{ page.section_2.body }}
          </p>
          <a class="btn btn-lg btn-secondary mt-2" href="{{ page.section_2.cta_url }}">
            {{ page.section_2.cta_text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
