<!-- Section 1 -->
<section class="d-lg-flex">
  <div class="w-lg-50 col-md-6 text-right pr-0 ml-auto mw-xxl-1000 pl-xl-6">
    <div class="bg-cover h-250 h-lg-500 h-xl-550 h-xxl-600 bg-light" style="background-image: url('assets/img/img-render-main.jpg');">
    </div>
    <!-- <img src="assets/img/unsplash/70.jpeg" class="img-fluid" alt=""> -->
  </div>
  <div class="expand expand-top expand-right w-90 bg-light"></div>
  <div class="w-lg-50 bg-light px-4 px-md-7 d-flex align-items-center">
    <div class="w-xl-500">
      <h2 class="font-base">
        {{ page.section_1.headline }}
      </h2>
      <p class="my-4">
        {{ page.section_1.body }}
      </p>
      <a class="btn btn-lg btn-secondary mt-2" href="{{ page.section_1.cta_url }}">
        {{ page.section_1.cta_text }}
      </a>
    </div>
  </div>
  <div class="expand expand-bottom expand-right w-90 bg-light"></div>
</section>
