<header>
  <section class="bg-cover overlay overlay-gradient-main overlay-20 pt-12 pb-8 d-flex align-items-end min-vh-xxl-50" data-jarallax data-speed="0.8" style="background-image: url('assets/img/hero-home.jpg')">
    <div class="container text-white z2 position-relative">
      <div class="row">
        <div class="col-lg-9 d-flex align-items-center pr-lg-5">
          <!-- Intro -->
          <div>
            <h1 class="display-1 fx-fade-up pl-md-5">
              {{ page.headline }}
            </h1>

            <p class="font-size-lg pl-md-5 mt-4 w-lg-600 fx-fade-up animation-delay-2">
              {{ page.head_paragraph }}
            </p>
          </div>
        </div>

      </div>
    </div>
    </div>
    <div class="bg-slant bg-dark">
      <div class="bg-slant-2"></div>
    </div>
    <!-- <div class="svg-divider svg-divider-bottom text-white">
<svg preserveAspectRatio="none" viewBox="0 0 2000 80" xmlns="http://www.w3.org/2000/svg">
        <polygon fill="currentColor" points="2000 0 2000 80 0 80"></polygon>
      </svg>

    </div> -->

    <div class="custom-shape-divider-bottom">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#fff"></path>
      </svg>
    </div>

  </section>
</header>
