<section class="bg-cover bg-cover-left-lg overlay overlay-20 overlay-gradient-main overlay-bg-after pt-10 d-flex align-items-end min-vh-xxl-40" jarallax data-speed="0.7" style="background-image: url('{{ page.hero_bg }}');">
  <!-- SVG divider -->

  <div class="container text-white my-6 fx-fade-up animation-delay-3 z2">
    <p class="text-uppercase-bold-sm pl-md-5 ml-md-2">
      {{ page.subhead }}
    </p>
    <h1 class="display-1 pl-md-5 fx-fade-up vw-lg-70 vw-xxl-50 border-white">
      {{ page.headline }}
    </h1>
    <p class="font-size-lg pl-md-5 mt-4 w-lg-600 fx-fade-up">
      {{ page.head_paragraph }}
    </p>
  </div>
</section>
