<!-- JAVASCRIPT
============================================-->

<!-- <script src="{{ relBase }}/assets/js/vendor.min.js"></script> -->

<script src="{{ relBase }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ relBase }}/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ relBase }}/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<!-- <script src="{{ relBase }}/assets/vendor/pikaday/pikaday.js"></script> -->
<!-- <script src="{{ relBase }}/assets/vendor/jquery.elevateZoom/jquery.elevateZoom.min.js"></script> -->
<!-- <script src="{{ relBase }}/assets/vendor/smooth-scroll/smooth-scroll.min.js"></script> -->
<!-- <script src="{{ relBase }}/assets/vendor/aos/aos.js"></script> -->
<script src="{{ relBase }}/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="{{ relBase }}/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>
<script src="{{ relBase }}/assets/vendor/jarallax/dist/jarallax-element.min.js"></script>
<script src="{{ relBase }}/assets/vendor/zoomerang/zoomerang.js"></script>
<script src="{{ relBase }}/assets/vendor/swiper/swiper.min.js"></script>
<script src="{{ relBase }}/assets/vendor/highlight/highlight.min.js"></script>
<script src="{{ relBase }}/assets/vendor/atvImg/atvImg-min.js"></script>


<!-- Main Theme file -->
<script src="{{ relBase }}/assets/js/theme.js"></script>
