<div class="swiper-slide">
  <div class="">
    <div class="row no-gutters">
      <div class="col-12">
<a href="#">
          <div class="card h-100 shadow-light hover-lift-light">
            <div class="card-img-top" href="#">
              <img src="assets/img/thumbnail.jpg" class="img-fluid rounded-top" alt="">
            </div>
            <div class="card-body position-relative overflow-hidden">
              <div class="svg-divider svg-divider-bottom">
                <svg preserveAspectRatio="none" viewBox="0 0 371 10" xmlns="http://www.w3.org/2000/svg">
                  <polygon fill="#e7dafe" points="371 0 371 10 0 0"></polygon>
                </svg>
  
              </div>
  <div class="position-relative z2">
                <div class="text-uppercase-bold-sm text-secondary ml-auto mt-3 mb-2">
                  September 10, 2020
                </div>
                <a href="#" class="font-weight-bold font-size-lg text-dark text-decoration-none" style="line-height: 1.2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing.
                </a>
                <p class="font-size-sm mt-2 mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                </p>
  </div>
            </div>
            <div class="card-bottom-info">
              <span class="text-primary font-weight-normal">
                Keep Reading
              </span>
              <i class="fa fa-arrow-right fa-xs text-primary mt-1 ml-2"></i>
            </div>
          </div>
</a>
      </div>
    </div>
  </div>
</div>
