<div class="swiper-slide">
  <div class="">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="card shadow-light hover-lift-light">
          <a class="card-img-top" href="#">
            <img src="../assets/img/thumbnail.jpg" class="img-fluid rounded-top" alt="">
          </a>
          <div class="card-body py-4" style="background: #270f21;">
            <a href="#" class="h4 font-weight-bold text-white text-decoration-none" style="line-height: 1.2">
              Coming Soon
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
