---
layout: default
---

{% include header-page.html %}
<!-- <div class="container-full page-banner-background">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom py-3" role="navigation">
    <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->
<section class="bg-gray-100 section-top-gradient pt-6">
  <div class="container">
    <div class="row text-lg-left">
      <div class="col-lg-10 pr-lg-6 col-xl-9 pr-xl-5">
        <div class="text-primary text-uppercase-bold-sm mb-3">
          Why Seven Points?
        </div>
        <div class="media flex-column flex-lg-row align-items-center w-md-700 w-lg-auto">
          <div class="media-body mt-4 mt-lg-0">
            <h1 class="display-4 font-weight-bold font-base text-bg-clip text-gradient">
              <img src="assets/img/unsplash/25.jpeg" class="d-none" />
              {{ page.intro_paragraph }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 pb-8 pb-md-9">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-6">
          <img src="../assets/img/placeholder-1.jpg" class="img-fluid rounded-lg hover-lift-light shadow-light" style="width: 100%; cursor: -webkit-zoom-in" data-toggle="zoomerang" alt="" />
        </div>
        <div class="col-md-6 pl-md-6 ml-md-auto mt-4 mt-md-0">
          <p>
            Seven Points represents the future, but it is already embedded in the fabric of our history.
          </p>
          <p class="callout my-4 py-0 pl-4 text-primary">Seven points illuminated by seven rays of light.</p>
          <p class="">
            These lights signpost the heart of Uptown; an area where diverse and vibrant cultures come together.
          </p>
        </div>
      </div>
      <div class="row align-items-start mt-7">
        <div class="col-md-6 pr-md-6">
          <div class="svg-icon svg-icon-lg text-purple"></div>
          <p>
            Seven Points aspires to be a venue where you can eat, drink, live, work, shop and play. That takes inspiration from the buzz of years gone by, while providing the amenities needed to support the local community on a day-to-day basis.
          </p>
          <p class="">
            While the name may be new, and the tenants and structure of the building may evolve over the coming months and years, Seven Points is built on what has always been here — and what will remain for many years to come.
          </p>
          <p class="callout my-4 py-0 pl-4 text-primary">
            Seven iconic points that sit atop the building, and the life and soul of our buzzing community.
          </p>
        </div>
        <div class="col-md-6 ml-md-auto">
          <img src="../assets/img/placeholder-2.jpg" class="img-fluid rounded-lg hover-lift-light shadow-light" style="width: 100%; cursor: -webkit-zoom-in" data-toggle="zoomerang" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom flip">
    <svg style="transform: none" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#e9ddfa"></path>
    </svg>
  </div>
</section>
{% include _module-dark_carousel-venues.html %}
<section class="bg-pistachio py-7">
  <div class="container d-flex flex-column text-center">
    <!-- Title -->
    <h1 class="display-4 text-dark font-weight-normal">
      Upcoming <span class="text-primary">Events</span>
    </h1>
    <p class="mb-4">
      Sign up for our mailing list to be the first to know about happenings at
      Seven Points.
    </p>
    <!-- Search form -->
    <form class="bg-white d-flex flex-column flex-lg-row align-items-center shadow-light-sm p-3 mx-auto rounded" style="width: 100%; max-width: 830px">
      <!-- Text -->
      <div class="w-lg-50 input-group border-lg-right border-gray-200 pr-lg-4">
        <div class="input-group-prepend d-none d-lg-flex">
          <span class="input-group-text border-0">
            <i class="fas fa-signature text-muted"></i>
          </span>
        </div>
        <input type="text" class="form-control rounded border-lg-0 border-gray-300 px-lg-1" placeholder="Your Name" />
      </div>
      <!-- Country -->
      <div class="w-lg-50 input-group border-lg-right border-gray-200 pr-lg-4">
        <div class="input-group-prepend d-none d-lg-flex">
          <span class="input-group-text border-0">
            <i class="far fa-envelope text-muted"></i>
          </span>
        </div>
        <input type="text" class="form-control rounded border-lg-0 border-gray-300 px-lg-1" placeholder="Your email address" />
      </div>
      <!-- Submit -->
      <button type="button" class="btn btn-primary btn-lg text-uppercase-bold-sm mt-3 mt-lg-0">
        Subscribe
      </button>
    </form>
  </div>
</section>

{% include _module-large_map-contact.html %}

<section class="d-lg-flex">
  <div class="col-md-7 col-xl-6 text-right pr-2 py-6 bg-dark text-white">
<div class="text-left w-lg-500 float-xl-right mr-xl-6 mt-5 mt-lg-4 ml-lg-4">
      <div class="d-flex align-items-center">
        <span class="text-primary text-uppercase-bold-sm"> Future Vision </span>
        <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
      </div>
      <h2 class="font-base mt-3">Coming Soon.</h2>
      <p class="my-4">
        The proposed development of Seven Points is about more than a change of name and a lick of paint
      </p>
      <a class="btn btn-lg btn-secondary mt-2" href="">
        See our vision for the future
      </a>
    </div>
  </div>
  <div class="w-lg-50 bg-cover h-250 h-lg-auto" style="background-image: url('../assets/img/placeholder-3.jpg')"></div>
</section>
{% include footer-cta.html %}
