---
layout: default
---
{% include header-page-alt.html %}
<section class="bg-light">
  <div class="container pt-6 pt-lg-5 pb-6">
    <div class="row no-gutters bg-white align-items-center shadow-sm mt-5">
      <div class="col-lg-4">
        <div class="bg-cover h-250 h-lg-350 bg-light" style="background-image: url('../assets/img/thumbnail.jpg');">
        </div>
      </div>
      <div class="col-lg-7 py-4 px-4">
        <div class="text-left mt-0 ml-lg-4 pl-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              Sub-title
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h3 class="display-5 font-base mt-2 font-weight-bold">
            Lorem ipsum dolor sit magna purus
          </h3>
          <p class="mb-4 font-size-18 pr-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna. It’s exciting to think about setting up your own viewing station.</p>
          <a class="btn btn-lg btn-secondary" href="#">
            Continue Reading
          </a>
        </div>
      </div>
    </div>
    <div class="row no-gutters bg-white align-items-center shadow-sm mt-5">
      <div class="col-lg-4">
        <div class="bg-cover h-250 h-lg-350 bg-light" style="background-image: url('../assets/img/placeholder.jpg');">
        </div>
      </div>
      <div class="col-lg-7 py-4 px-4">
        <div class="text-left mt-0 ml-lg-4 pl-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              Sub-title
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h3 class="display-5 font-base mt-2 font-weight-bold">
            Lorem ipsum dolor sit magna purus
          </h3>
          <p class="mb-4 font-size-18 pr-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna. It’s exciting to think about setting up your own viewing station.</p>
          <a class="btn btn-lg btn-secondary" href="#">
            Continue Reading
          </a>
        </div>
      </div>
    </div>
    <div class="row no-gutters bg-white align-items-center shadow-sm mt-5">
      <div class="col-lg-4">
        <div class="bg-cover h-250 h-lg-350 bg-light" style="background-image: url('../assets/img/placeholder-1.jpg');">
        </div>
      </div>
      <div class="col-lg-7 py-4 px-4">
        <div class="text-left mt-0 ml-lg-4 pl-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              Sub-title
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h3 class="display-5 font-base mt-2 font-weight-bold">
            Lorem ipsum dolor sit magna purus
          </h3>
          <p class="mb-4 font-size-18 pr-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna. It’s exciting to think about setting up your own viewing station.</p>
          <a class="btn btn-lg btn-secondary" href="#">
            Continue Reading
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark py-7 text-white">
  <div class="container d-flex flex-column text-center">
    <!-- Title -->
    <h1 class="display-4 font-base text-white font-weight-bold">
      Stay up-to-date with the <span class="text-primary">latest news</span>
    </h1>
    <p class="mb-4">Get the latest news from Seven Points straight to your inbox.</p>

    <form class="bg-white d-flex flex-column flex-lg-row align-items-center shadow-light-sm p-3 mx-auto rounded" style="width: 100%; max-width: 830px">

      <div class="w-lg-50 input-group border-lg-right border-gray-200 pr-lg-4">
        <div class="input-group-prepend d-none d-lg-flex">
          <span class="input-group-text border-0">
            <i class="fas fa-signature text-muted"></i>
          </span>
        </div>
        <input type="text" class="form-control rounded border-lg-0 border-gray-300 px-lg-1" placeholder="Your Name">
      </div>

      <div class="w-lg-50 input-group border-lg-right border-gray-200 pr-lg-4">
        <div class="input-group-prepend d-none d-lg-flex">
          <span class="input-group-text border-0">
            <i class="far fa-envelope text-muted"></i>
          </span>
        </div>
        <input type="text" class="form-control rounded border-lg-0 border-gray-300 px-lg-1" placeholder="Your email address">
      </div>

      <button type="button" class="btn btn-primary btn-lg text-uppercase-bold-sm hover-lift-light mt-3 mt-lg-0">
        Subscribe
      </button>
    </form>
  </div>
</section>
<section class="bg-light">
  <div class="container pt-6 pt-lg-5 pb-12">
    <div class="row no-gutters bg-white align-items-center shadow-sm mt-5">
      <div class="col-lg-4">
        <div class="bg-cover h-250 h-lg-350 bg-light" style="background-image: url('../assets/img/thumbnail.jpg');">
        </div>
      </div>
      <div class="col-lg-7 py-4 px-4">
        <div class="text-left mt-0 ml-lg-4 pl-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              Sub-title
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h3 class="display-5 font-base mt-2 font-weight-bold">
            Lorem ipsum dolor sit magna purus
          </h3>
          <p class="mb-4 font-size-18 pr-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna. It’s exciting to think about setting up your own viewing station.</p>
          <a class="btn btn-lg btn-secondary" href="#">
            Continue Reading
          </a>
        </div>
      </div>
    </div>
    <div class="row no-gutters bg-white align-items-center shadow-sm mt-5">
      <div class="col-lg-4">
        <div class="bg-cover h-250 h-lg-350 bg-light" style="background-image: url('../assets/img/placeholder.jpg');">
        </div>
      </div>
      <div class="col-lg-7 py-4 px-4">
        <div class="text-left mt-0 ml-lg-4 pl-lg-4">
          <div class="d-flex align-items-center">
            <span class="text-primary text-uppercase-bold-sm">
              Sub-title
            </span>
            <!-- <hr class="border-primary opacity-20 flex-fill ml-4"> -->
          </div>
          <h3 class="display-5 font-base mt-2 font-weight-bold">
            Lorem ipsum dolor sit magna purus
          </h3>
          <p class="mb-4 font-size-18 pr-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna. It’s exciting to think about setting up your own viewing station.</p>
          <a class="btn btn-lg btn-secondary" href="#">
            Continue Reading
          </a>
        </div>
      </div>
    </div>
    <ul class="pagination justify-content-center mt-5">
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          Next page
          <i class="fas fa-chevron-right fa-xs ml-1"></i>
        </a>
      </li>
    </ul>

  </div>
</section>
{% include footer-cta.html %}
