---
layout: default
---


<section class="bg-cover position-relative overlay overlay-dark overlay-40 py-6 py-lg-9 py-xxl-13 jarallax" data-jarallax data-speed="0.7" style="background-image: url('{{ relBase }}/assets/img/unsplash/4.jpeg');">
  <!-- SVG divider -->

  <div class="container text-white my-6 my-xxl-4 fx-fade-up animation-delay-3">
    <h1 class="text-uppercase-bold-sm">
      {{ page.title }}
    </h1>
    <h1 class="display-4 w-lg-75 my-4">
      {{ page.title }}
    </h1>
    <p class="mt-4 fx-fade-up animation-delay-2">
      Text
    </p>
  </div>
</section>

<div class="container-full page-banner-background">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-full page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
